body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

nav.navbar {
  overflow: hidden;
  background-color: deepskyblue;
  color: white;
  position: fixed;
  font-size: 40px;
  top: 0;
  width: 100%;
  height: 100px;
}

div.nav-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

div.container {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 150px 50px 50px 50px;
  box-sizing: border-box;
}

div.content-area {
  height: 90%;
  overflow: scroll;
  border-radius: 5px;
  border: 3px solid #aaa;
}

div.content-area ul {
  list-style-type: none;
}

i.placeholder {
  color: #bbb;
}

button#main-btn {
  color: deepskyblue;
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border: solid 3px deepskyblue;
  margin-bottom: 5px;
}
